.footer {
  border-top: 1px solid #eceff2;
  &__wrap {
    padding: 28px 0;
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: var(--black);
  }
}
