<section class="about">
  <div class="container">
    <div id="about" class="about__wrap">
      <h2 class="about__title">Как это работает</h2>
      <ul class="about__list">
        <li class="about__item about-card">
          <div class="about-card__wrap">
            <img
              loading="lazy"
              src="img/about/img1.svg"
              class="about-card__img"
              width="72"
              height="72"
              alt="about-icon"
            />
            <div class="about-card__content">
              <h4 class="about-card__title">Прочитай задание внимательно</h4>
              <p class="about-card__text">
                Думаю у тебя не займет это больше двух-трех минут
              </p>
            </div>
          </div>
        </li>
        <li class="about__item about-card">
          <div class="about-card__wrap">
            <img
              loading="lazy"
              src="img/about/img2.svg"
              class="about-card__img"
              width="72"
              height="72"
              alt="about-icon"
            />
            <div class="about-card__content">
              <h4 class="about-card__title">Изучи весь макет заранее</h4>
              <p class="about-card__text">
                Подумай как это будет работать на разных разрешениях и при
                скролле
              </p>
            </div>
          </div>
        </li>
        <li class="about__item about-card">
          <div class="about-card__wrap">
            <img
              loading="lazy"
              src="img/about/img3.svg"
              class="about-card__img"
              width="72"
              height="72"
              alt="about-icon"
            />
            <div class="about-card__content">
              <h4 class="about-card__title">Сделай хорошо</h4>
              <p class="about-card__text">
                Чтобы мы могли тебе доверить подобные задачи в будущем
              </p>
            </div>
          </div>
        </li>
        <li class="about__item about-card">
          <div class="about-card__wrap">
            <img
              loading="lazy"
              src="img/about/img3.svg"
              class="about-card__img"
              width="72"
              height="72"
              alt="about-icon"
            />
            <div class="about-card__content">
              <h4 class="about-card__title">Получи предложение</h4>
              <p class="about-card__text">
                Ну тут все просто, не я придумал правила, но думаю так и
                будет)))
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div id="reviews" class="about__desc desc-about">
        <div class="desc-about__wrap">
          <div class="desc-about__content">
            <h3 class="desc-about__title">Круто, ты дошел до третьего блока</h3>
            <p class="desc-about__text">
              63% опрошенных пользовались кредитами из-за того, что не могли
              покрыть непредвиденные расходы свыше 15 000 ₽. <br /><br />Доступ
              к заработанным деньгам помогает отказаться от кредитов и экономить
              деньги на процентах и штрафах.
            </p>
          </div>
          <picture class="desc-about__img">
            <source srcset="img/about/desc-img.webp" type="image/webp" />
            <img loading="lazy" src="img/about/desc-img.png"" width="592"
            height="448" alt="desc-img" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
