<section class="reviews">
  <div class="container">
    <div class="reviews__wrap">
      <h2 class="reviews__title">Отзывы</h2>
      <div class="reviews__slider-wrap">
        <div class="reviews__slider reviews-slider">
          <div class="reviews-slider__wrap">
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar1.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name"
                      >Константинов Михаил Павлович</span
                    >
                    <span class="review-header__location">Санкт-Петербург</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения. В своём стремлении улучшить
                  пользовательский опыт мы
                </p>
              </div>
            </div>
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar2.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name">Иван Иванов</span>
                    <span class="review-header__location">Санкт-Петербург</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что активно развивающиеся
                  страны третьего мира призваны к ответу.
                </p>
              </div>
            </div>
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar3.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name">Артем Корнилов</span>
                    <span class="review-header__location">Самара</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения.
                </p>
              </div>
            </div>
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar1.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name"
                      >Константинов Михаил Павлович</span
                    >
                    <span class="review-header__location">Санкт-Петербург</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения. В своём стремлении улучшить
                  пользовательский опыт мы
                </p>
              </div>
            </div>
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar2.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name">Иван Иванов</span>
                    <span class="review-header__location">Санкт-Петербург</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что активно развивающиеся
                  страны третьего мира призваны к ответу.
                </p>
              </div>
            </div>
            <div class="reviews-slider__slide review">
              <div class="review__wrap">
                <div class="review__header review-header">
                  <img
                    src="img/reviews/avatar3.jpg"
                    alt="user-avatar"
                    class="review-header__avatar"
                    width="44"
                    height="44"
                  />
                  <div class="review-header__desc">
                    <span class="review-header__name">Артем Корнилов</span>
                    <span class="review-header__location">Самара</span>
                  </div>
                </div>
                <p class="review__text">
                  Каждый из нас понимает очевидную вещь: перспективное
                  планирование предоставляет широкие возможности для анализа
                  существующих паттернов поведения.
                </p>
              </div>
            </div>
          </div>
          <div class="reviews-slider__pagination"></div>
        </div>
        <button class="reviews-slider__btn btn-reset reviews-slider__btn--prev">
          <svg class="reviews-slider__btn-icon">
            <use xlink:href="img/sprite.svg#arrow-prev"></use>
          </svg>
        </button>
        <button class="reviews-slider__btn btn-reset reviews-slider__btn--next">
          <svg class="reviews-slider__btn-icon">
            <use xlink:href="img/sprite.svg#arrow-next"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
