// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Graphik LCG", sans-serif;
  --content-width: 1216px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --primary: #2a6cea;
  --black: #191c1f;
  --dark-gray: #5e646a;
  --gray: #83898f;
  --mid-grey: #c2c8cd;
  --light-gray: #eceff2;
  --extralight-gray: #f6f8fa;
  --white: #fff;
  --red: #f13636;
  --green: #25cd82;
  --primary-hover: #397dff;
  --primary-disabled: #abcae6;
}
